[data-aspect]:before {
	background:#000;
}
[data-aspect^=n]:after {
	border-bottom-color:#000;
}
[data-aspect^=s]:after {
	border-top-color:#000;
}
[data-aspect=west]:after {
	border-right-color:#000;
}
[data-aspect=east]:after {
	border-left-color:#000;
}