/* --------------------------------------------------------------
	BR0kEN, Firstvector.org
	Developing templates and modules, crossbrowsing page-proofs.

		Email: support@firstvector.org
		Skype: takemebabyonemoretime
		Phone: +38 (097) 461-20-11
-------------------------------------------------------------- */
section {
	width:630px;
	margin:200px auto;
	font:12px Arial;
}
section h1 {
	font-size:15px;
	margin:0;
}
section div {
	float:left;
	width:200px;
	background:#ccc;
	margin:0 5px 5px 0;
	line-height:200px;
	text-align:center;
	border-radius:2px
}
section div:nth-child(5) {
	background:#f6f6f6;
}
section a {
	color:#444;
	text-decoration:none;
}
/* tooltip by BR0kEN */
[data-aspect], [data-aspect]:before, [data-aspect]:after {
	position:absolute;
}
[data-aspect] {
	top:0;
	left:0;
	width:100%;
	height:100%;
}
[data-aspect]:before, [data-aspect]:after {
	display:none;
	z-index:100;
}
[data-aspect]:before {
	content:attr(data-title);
	color:#fff;
	padding:0 5px;
	border-radius:2px;
	text-align:center;
	background:rgba(0,0,0,.8);
	font:normal 11px/24px Arial;
}
[data-aspect]:after {
	content:'';
	height:0;
	width:0;
	border:solid transparent;
	border-width:5px;
	pointer-events:none;
}
[data-tooltip]:hover > [data-aspect]:before, [data-tooltip]:hover > [data-aspect]:after {
	display:block;
}
/* position => NW & NE */
[data-aspect^=n]:before {
	top:150%;
}
[data-aspect^=n]:after {
	bottom:-50%;
	border-bottom-color:rgba(0,0,0,.8);
}
/* position => SE & SW */
[data-aspect^=s]:before {
	bottom:150%;
}
[data-aspect^=s]:after {
	top:-50%;
	border-top-color:rgba(0,0,0,.8);
}
/* position => NW or NE or SW or SE */
[data-aspect$=w]:before {
	left:25%;
}
[data-aspect$=w]:after {
	left:40%;
}
[data-aspect$=e]:before {
	right:25%;
}
[data-aspect$=e]:after {
	right:40%;
}
/* position => East & West */
[data-aspect$=st]:after {
	bottom:50%;
	margin-bottom:-5px;
}
[data-aspect$=st]:before {
	top:0;
	margin-top:-4px;
}
[data-aspect=west]:before {
	left:100%;
	margin-left:10px;
}
[data-aspect=west]:after {
	right:0;
	margin-right:-10px;
	border-right-color:rgba(0,0,0,.8);
}
[data-aspect=east]:before {
	right:100%;
	margin-right:10px;
}
[data-aspect=east]:after {
	left:0;
	margin-left:-10px;
	border-left-color:rgba(0,0,0,.8);
}
/* position => North & South */
[data-aspect$=th]:after {
	left:35%;
}