body {
	height:100%;
	color:#333;
	cursor:default;
	font:normal 12px/17px Arial;
}
a {
	color:#444;
	text-decoration:none;
}
h1, h2, h3 {
	margin:0;
}
.clr:after, .clr:before {
	content:'';
	display:table;
}
.clr:after {
	clear:both;
}
section {
	padding-left:5px;
	margin:20px auto;
	font:12px Arial;
	width:615px;
}
section h2 {
	font-size:16px;
	margin-bottom:20px;
}
section h3 {
	font-size:15px;
}
section div {
	float:left;
	width:200px;
	height:50px;
	margin:0 5px 5px 0;
	border-radius:2px;
	text-align:center;
	line-height:50px;
	background:#ccc;
}
section div:hover {
	background:#c1c1c1;
}
section div:nth-child(6) {
	background:#eee;
}
.relative a {
	line-height:50px;
}
.absolute div {
	position:relative;
}
.absolute a {
	position:absolute;
	left:0;
	right:0;
}