/* simpleTooltip by BR0kEN */
#tooltip_width, [data-tooltip]:before, [data-tooltip]:after {
	display:none;
	font:normal 11px/24px Arial;
}
[data-tooltip]:before, [data-tooltip]:after {
	position:absolute;
	z-index:1000;
}
[data-tooltip]:before {
	content:attr(data-title);
	color:#fff;
	padding:0 5px;
	border-radius:2px;
	background:rgba(0,0,0,.8);
	text-align:center;
	white-space:nowrap;
}
[data-tooltip]:after {
	content:'';
	height:0;
	width:0;
	border:solid transparent;
	border-width:5px;
	pointer-events:none;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	display:block;
}
/* direction => NW & NE */
[data-tooltip^=n]:before, [data-tooltip^=n]:after {
	top:100%;
}
[data-tooltip^=n]:before {
	margin-top:5px;
}
[data-tooltip^=n]:after {
	margin-top:-5px;
	border-bottom-color:rgba(0,0,0,.8);
}
/* direction => SE & SW */
[data-tooltip^=s]:before, [data-tooltip^=s]:after {
	bottom:100%;
}
[data-tooltip^=s]:before {
	margin-bottom:5px;
}
[data-tooltip^=s]:after {
	margin-bottom:-5px;
	border-top-color:rgba(0,0,0,.8);
}
/* direction => NW & NE & SW & SE & North & South */
[data-tooltip$=w]:before, [data-tooltip$=w]:after, [data-tooltip$=th]:before, [data-tooltip$=th]:after {
	left:50%;
}
[data-tooltip$=w]:before {
	margin-left:-15px;
}
[data-tooltip$=w]:after, [data-tooltip$=th]:after {
	margin-left:-5px;
}
[data-tooltip$=e]:before, [data-tooltip$=e]:after {
	right:50%;
}
[data-tooltip$=e]:before {
	margin-right:-15px;
}
[data-tooltip$=e]:after {
	margin-right:-5px;
}
/* direction => East & West */
[data-tooltip$=st]:before, [data-tooltip$=st]:after {
	bottom:50%;
}
[data-tooltip$=st]:after {
	margin-bottom:-5px;
}
[data-tooltip$=st]:before {
	margin-bottom:-12px;
}
[data-tooltip=west]:before, [data-tooltip=west]:after {
	left:100%;
}
[data-tooltip=west]:before {
	margin-left:10px;
}
[data-tooltip=west]:after {
	margin-right:-10px;
	border-right-color:rgba(0,0,0,.8);
}
[data-tooltip=east]:before, [data-tooltip=east]:after {
	right:100%;
}
[data-tooltip=east]:before {
	margin-right:10px;
}
[data-tooltip=east]:after {
	margin-left:-10px;
	border-left-color:rgba(0,0,0,.8);
}
#tooltip_width {
	float:left;
}